$color-primary-color: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;


@mixin h2 {
   font: {
      family: Georgia;
      size: 4.4rem;
      weight: 400;
   }
   line-height: 130%;
} 

@mixin large-text {
   font: {
      family: Arial;
      size: 20px;
      weight: bold;
   }
   color: #ff0000;
}

@mixin h3 {
   font: {
      family: Georgia;
      style: normal;
      weight: normal;
      size: 3.5rem;
   }
   line-height: 130%;
   letter-spacing: 0.06em;
}

@mixin h4 {
   font: {
      family: Georgia;
      style: normal;
      weight: normal;
      size: 3.5rem;
   }
   line-height: 115%;
   letter-spacing: 0.06em;
}

@mixin h5 {
   font: {
      family: Georgia;
      style: normal;
      weight: normal;
      size: 1.5rem;
   }
   line-height: 110%;
   letter-spacing: 0.06em;
}

:root {
   font-size: 10px;
}

.icon {
   padding: 0 12rem;
}

* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}

.wrapper {
   display: flex;
   margin: 0 auto;
   max-width: 75rem; /* или попробовать тут 1200px */
   justify-content: space-between;
}

/* body {
   position: relative;
} */

.header {
   width: 100vw;
   position: absolute;
   top: 60px;

}

.logo {
   display: flex;
   flex-direction: column;
}

.logo__title {
   color: #F1CDB3;
   font-family: Georgia;
   font-size: 2rem; /* 32px */
   letter-spacing: 0.12rem;
   line-height: 110%;
   font-weight: 400;
}

.logo__subtitle {
   margin-top: 10px;
   color: #FFFFFF;
   font-size: 13px;
   line-height: 110%;
   text-align: center;
   letter-spacing: 0.1rem;
}

.menu {
   display: flex;
   width: 443px;
}

a {
   text-decoration: none;
}

.list {
   display: flex;
   /* margin: 0;
   padding: 0; */
   list-style-type: none;
   width: 100%;
   justify-content: space-between;
}

.list__item {
   display: flex;
   align-items: center;
}

.list__link {
   color: #ffffff;
   font-family: Arial;
   font-size: 15px;
   line-height: 160%;
}

.list-link_active {
   border-bottom: solid 3px #F1CDB3;
}

.list__link_disabled {
   color: #CDCDCD;
}

.main {
   display: flex;
   flex-direction: column;
}

.hero {
   padding-top: 180px;
   display: flex;
   background: url(/assets/noise_transparent.png),
   radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
   #211F20;
}

.hero__content {
   display: flex;
}

.content-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: 84px;
}

.content-section__title {
   max-width: 31rem;
   color: $color-light-xl;
   @include h2;

   /* 
   color: #FFFFFF;
   font-size: 2.75rem;
   line-height: 130%;
   font-family: Georgia;
   max-width: 19.375rem;
   font-weight: 400;
   */
}

.content-section__subtitle {
   margin-top: 2.625rem; /* или 42px */
   color: #CDCDCD;
   line-height: 160%;
   font-family: Arial;
   font-size: 15px;
}

.content-section__button {
   padding: 15px 45px;
   width: 207px;
   border-radius: 100px;
   border: none;
   background-color: #F1CDB3;
   margin-top: 42px;
}